@font-face {
    font-family: 'Poppins-light';
    src: url("assets/fonts/Poppins-Light.ttf");
    
}

@font-face {
    font-family: 'Poppins-reg';
    src: url("assets/fonts/Poppins-Regular.ttf");
    
}

* {
    box-sizing: border-box;
    align-items: center;
}
html {
    scroll-behavior: smooth;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;

}
header {
    
    
    align-items: center;

}

main {
    
    align-items: center;
}
 footer {
    
    align-items: center;
 }


.container {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 30px;
    line-height: 50px;
    transition: .4s;
}

link {
    text-decoration: none;
}

.section {
    
    align-items: center;

}
h1 
h2 {
    align-items: center;
 
}