@font-face {
    font-family: 'Poppins-light';
    src: url("assets/fonts/Poppins-Light.ttf");
    
}

@font-face {
    font-family: 'Poppins-reg';
    src: url("assets/fonts/Poppins-Regular.ttf");
    
}