body {
    font-size: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
}

.nav_link {
    margin-left: 30px;
    text-decoration: none;
}

li {
    list-style: none;
}

